// BODY
$bodyBgColor: #58504A
// NAVBAR
$navbarBgColor: #e7e7e7aa
$navbarLinkColor: #4f4f4f

// NOTE
$noteBgColor: #fffff0
$noteDividerColor: #cccccc
$noteIconImportance_Not: #ff000020
$noteIconImportance_Low: #ff000050
$noteIconImportance_Medium: #ff000080
$noteIconImportance_High: #ff0000a0
$noteIconImportance_Critical: #ff0000d0

// Thoughts
$thoughtsFormBg: #425c9f
$thoughtsFormColor: #ffffff
$thoughtsFormBorderColor: #bbbbbb