// BODY
$bodyBgColor: #e8e8e8


// NAVBAR
$navbarBgColor: #e8e8e8
$navbarLinkColor: #000000


// NOTE
$noteBgColor: #fffff0
$noteTitleColor: #353535
$noteTextColor: #666666
$noteDividerColor: #cccccc
$noteIconImportance_Not: #29aca35f
$noteIconImportance_Low: #295dac8a
$noteIconImportance_Medium: #7129ac97
$noteIconImportance_High: #ac2998d6
$noteIconImportance_Critical: #ff0000
$noteDateColor: #777777
$noteZeroRemainingColor: #de0a0a
$noteRemainingColor: #275f2a
$noteDeleteButtonColor: #ff2222
$noteBoxShadowColor: #575757


// Thoughts
$createThoughtColor: #111111
$thoughtsFormBg: #d9e3f3
$thoughtsFormColor: #ffffff
$thoughtsFormBorderColor: #6e6e6e