// NAVBAR
$navbarBgColor: #e7e7e733
$navbarLinkColor: #343434

// NOTE
$noteBgColor: #fffff0
$noteDividerColor: #cccccc
$noteIconImportance_Not: #ff000020
$noteIconImportance_Low: #ff000050
$noteIconImportance_Medium: #ff000080
$noteIconImportance_High: #ff0000a0
$noteIconImportance_Critical: #ff0000d0

// Thoughts
$thoughtsFormBg: #0000004a
$thoughtsFormColor: #ffffff
$thoughtsFormBorderColor: #d4d4d4