@import 'mixins'

$navbarHeight: 75px

.layout
    width: 55vw
    margin: 0 auto
    height: 100vh
    @include hideScrollbar
    overflow: hidden
.main
    width: 100%
    height: calc(100% - $navbarHeight)
    overflow-y: scroll