.login
    padding: 2rem
    width: 300px
    margin: 1rem auto
    border: 1px solid black
    &_field
        display: flex
        flex-direction: column
        margin-top: 6px
        &:first-of-type
            margin-bottom: 3px
.label
    margin-right: 20px
.button
    margin-top: 6px