@import 'colors'
@import 'mixins'

.thoughtsForm
    display: flex
    flex-direction: column
    padding: 16px
    min-width: 350px
    background-color: $thoughtsFormBg
    color: $thoughtsFormColor
    border: 4px solid $thoughtsFormBorderColor
    h5
        margin-bottom: 20px
        letter-spacing: 2px
    &_field
        display: flex
        align-items: center
        &:first-of-type
            margin-bottom: 10px
        label
            font-size: 12px
            width: 100px
            &[for="textarea"]
                align-self: flex-start
        input, textarea
            @include noFocusOutline
            min-width: 250px
            width: 280px
        textarea
            text-align: left
            &[id="textarea"]
                height: 80px
    &_importanceLevel
        display: flex
        width: 100%
        height: 100%
        align-items: center
        padding: 10px 0px
        justify-content: flex-end
        column-gap: 20px
        &_Not,
        &_Low,
        &_Medium,
        &_High,
        &_Critical
            cursor: pointer
        &_Not
            color: $noteIconImportance_Not
        &_Low
            color: $noteIconImportance_Low
        &_Medium
            color: $noteIconImportance_Medium
        &_High
            color: $noteIconImportance_High
        &_Critical
            color: $noteIconImportance_Critical
    &_save
        height: min-content
        padding: 6px 12px
        width: 110px
        margin-left: auto
        margin-top: auto
        cursor: pointer
