@import 'colors'
@import 'mixins'

.thoughtsForm
    display: flex
    flex-direction: column
    padding: 16px
    margin: 0px 20px 10px
    min-width: 350px
    background-color: $thoughtsFormBg
    color: $thoughtsFormColor
    border: 4px solid $thoughtsFormBorderColor
    h5
        color: $createThoughtColor
        text-transform: uppercase
        margin-bottom: 20px
        letter-spacing: 2px
    &_field
        display: flex
        align-items: center
        // &:first-of-type
        margin-bottom: 20px
        label
            font-size: 12px
            width: 100px
            text-transform: capitalize
            span
                font-size: 8px
                margin-top: 3px
                display: block
                text-align: left
                &.remaining_chars
                    color: $noteRemainingColor
                    &_zero
                        color: $noteZeroRemainingColor
            span.longEnough,
            span.notLongEnough
                font-size: 6px
            span.longEnough
                color: $noteLongEnoughColor
            span.notLongEnough
                color: $noteNotLongEnoughColor
            &[for="textarea"]
                color: $noteTextColor
                align-self: flex-start
            &[for="title"]
                color: $noteTitleColor
        input[id="title"]
            color: $noteTitleColor
            padding: 3px
            font-size: 12.8px
        textarea
            color: $noteTextColor
            padding: 3px
            font-size: 10px
            height: 100px
        input, textarea
            @include noFocusOutline
            min-width: 250px
            width: 280px
    &_save
        height: min-content
        padding: 6px 12px
        width: 110px
        margin-left: auto
        margin-top: auto
        cursor: pointer
.importanceLevel
    display: flex
    position: relative
    width: 100%
    height: 100%
    align-items: center
    padding: 15px 10px 0px 10px
    justify-content: flex-end
    column-gap: 20px
    &_Not,
    &_Low,
    &_Medium,
    &_High,
    &_Critical
        cursor: pointer
        position: relative
        .selected
            display: none
    &_Not
        color: $noteIconImportance_Not
    &_Low
        color: $noteIconImportance_Low
    &_Medium
        color: $noteIconImportance_Medium
    &_High
        color: $noteIconImportance_High
    &_Critical
        color: $noteIconImportance_Critical
    &_selected
        transition: all 0.25s ease
        transform: scale(1.5)
